= simple_form_for page do |f|
  = f.input :name, :null => false
  = f.input :section_name
  = f.input :title
  .wmd-panel
    #wmd-button-bar
    = f.input :content, :as => :text, :label => false, :input_html => { :id => 'wmd-input', :class => 'wmd-input' }
  = f.button :submit, :class => 'btn-success'
