= simple_form_for @contact_form, :url => send_email_path, :defaults => { :input_html => { :class => 'span5' }} do |f|
  = f.input :nickname, :input_html => { :style => 'display:none' }, :label => false
  = f.input :name
  = f.input :email

  = f.input :message, :as => :text, :input_html => { :rows => 5 }
  = f.submit t('labels.send_email'), :class => 'btn-primary'
