= simple_form_for post do |f|
  = f.input :title
  .wmd-panel
    #wmd-button-bar
    = f.input :content, :label => false, :input_html => { :id => 'wmd-input', :class => 'wmd-input' }
  = f.input :excerpt, :as => :text, :input_html => { :class => 'excerpt' }
  = f.input :tag_list, :hint =>  t('hints.tags')

  .form-actions
    = f.button :submit, :class => 'btn-success'
