= content_tag_for :div, post do
  %h1= link_to post.title, user_post_path( post.user, post )
  %p.post_info= authored_by post.author_username, post.author_profile_url,  post.created_at
  .excerpt
    = markdown post.excerpt
  .actions
    = link_to t('actions.read_more'), user_post_path( post.user, post ), :class => 'read-more'
    - if is_author?( post )
      = link_to t('actions.edit', :item => ''), edit_dashboard_post_path( post ), :class => :edit
