.span1
  = image_tag post.user_gravatar_url( 80 ), :class => :avatar, :alt => post.author_username
.span8
  = content_tag_for :div, post do
    %h1= post.title
    %p= authored_by post.author_username, post.created_at
    = markdown post.excerpt
    = link_to t('actions.read_more'), user_post_path( post.user, post )
