%h1
  = @post.title
  %span.actions-alt
    - if is_author? @post
      = link_to dashboard_post_path( @post ), :class => 'post-delete', :method => :delete, :confirm => t('messages.confirmation') do
        %i.icon-remove.icon-white
      = link_to edit_dashboard_post_path( @post ), :class => 'post-edit' do
        %i.icon-edit.icon-white
%p.post_info= authored_by @post.author_username, @post.created_at

= content_tag_for :div, @post do
  :plain
    #{ markdown @post.content }
= disqus_thread.html_safe

= content_for :additional_content do
  .tag_cloud= render 'shared/posts/tag_cloud'
