.container
  .row
    .span2
      .author_info
        = image_tag @post.author_gravatar_url( 80 ), :class => :avatar, :alt => @post.author_username
      .post-actions
        - if is_author? @post
          = link_to dashboard_post_path( @post ), :class => 'btn btn-danger', :method => :delete, :confirm => t('messages.confirmation') do
            %i.icon-remove.icon-white
            = t 'actions.delete', :item => Post.model_name.human
          = link_to edit_dashboard_post_path( @post ), :class => 'btn btn-warning' do
            %i.icon-edit.icon-white
            = t 'actions.edit', :item => Post.model_name.human

    .span10
      %h1= @post.title
      %p= authored_by @post.author_username, @post.created_at

      = content_tag_for :div, @post do
        :plain
          #{ markdown @post.content }
      = disqus_thread.html_safe
