.container
  .row
    .span9
      %h1= @post.title
      %p= authored_by @post.author_username, @post.created_at

      = content_tag_for :div, @post do
        :plain
          #{ markdown @post.content }

    .span2.pull-right
      .author_info
        = image_tag @post.author_gravatar_url( 80 ), :class => :avatar, :alt => @post.author_username
      .post-actions
        - if is_author? @post
          = link_to dashboard_post_path( @post ), :class => 'btn btn-danger btn-mini', :method => :delete, :confirm => t('messages.confirmation') do
            %i.icon-trash.icon-white
          = link_to edit_dashboard_post_path( @post ), :class => 'btn btn-warning btn-mini' do
            %i.icon-edit.icon-white

  .row
    .span11= disqus_thread.html_safe
