%tr
  %td= page.id
  %td= page.slug
  %td= page.name
  %td= page.section
  %td= page.main_page?
  %td= time_ago_in_words page.created_at
  %td
    = link_to section_page_path( page.section, page ), data: { show_tooltip: true }, class: 'btn btn-mini btn-success', title: t('actions.show', item: nil) do
      %i.icon-white.icon-eye-open

    = link_to edit_dashboard_page_path( page ), data: { show_tooltip: true }, class: 'btn btn-mini btn-warning', title: t('actions.edit', item: nil) do
      %i.icon-white.icon-pencil

    = link_to dashboard_page_path( page ), data: { show_tooltip: true, method: :delete, confirm: t('messages.confirmation') }, class: 'btn btn-mini btn-danger', title: t('actions.delete', item: nil) do
      %i.icon-white.icon-trash
