.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        %li= link_to 'RubyTij', root_path, class: :brand
      %ul.nav.pull-right
        %li.divider-vertical
        %li.dropdown
          = link_to '#', data: { toggle: :dropdown }, class: 'dropdown-toggle' do
            = t 'labels.language'
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Español', params.merge( locale: :es )
            %li= link_to 'English', params.merge( locale: :en )

      %ul.nav.pull-right
        - unless current_user
          %li.divider-vertical
          %li= link_to t('user.sessions.sign_in'), new_user_session_path( return_to: request.url )
        - else
          / Pages dropdown
          %li.divider-vertical
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown } do
              = Page.model_name.human.pluralize
              %b.caret
            %ul.dropdown-menu
              %li= link_to t('actions.list', item: Page.model_name.human.pluralize), dashboard_pages_path
              %li= link_to t('actions.new', item: Page.model_name.human), new_dashboard_page_path

          / Posts dropdown
          %li.divider-vertical
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown } do
              = Post.model_name.human.pluralize
              %b.caret
            %ul.dropdown-menu
              %li= link_to t('actions.list', item: Post.model_name.human.pluralize), dashboard_posts_path
              %li= link_to t('actions.new', item: Post.model_name.human), new_dashboard_post_path

          / Account Dropdown
          %li.divider-vertical
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown } do
              = t 'user.account'
              %b.caret
            %ul.dropdown-menu
              %li= link_to t('user.registrations.show'), '#'
              %li= link_to t('user.sessions.destroy'), user_session_path, method: :delete
