!!!
%html
  %head
    %title RubyTij - User Group
    / [if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

    = stylesheet_link_tag    "application", 'Markdown.Editor', :media => "all"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags

    %meta{ :name => :viewport, :content => 'width=device-width, initial-scale=1.0' }
  %body
    = render 'layouts/navigation'
    .container
      = yield
