!!!
%html
  %head
    %title= t( 'head.title' )
    %link{ :rel => :icon, :type => 'image/png', :href => '/favicon.ico' }
    / [if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags

    %meta{ :name => :viewport, :content => 'width=device-width, initial-scale=1.0' }
  %body
    = render 'layouts/navigation'
    .wrapper
      %header
        .container
          = link_to '', '/', :class => 'logo'
          %nav.site_sections
            .btn-toolbar
              .btn-group= render 'layouts/page_links'

      - if @page.try(:main_page?)
        %section.banner
          .container
            .photos
            .banner_inf
              %h1= t('pages.home.heading')
              %p= t('pages.home.description')
      %section.quick_news
      %section.main
        .container
          .main-content= yield
          .additional-content= yield :additional_content
      %section.network-sites
        .container
          .github.network-logo=   link_to image_tag('github_logo.png'), '//github.com/rubytij'
          .reddit.network-logo=   link_to image_tag('reddit_logo.png'), '//reddit.com/r/rubytij'
          .twitter.network-logo=  link_to image_tag('twitter_logo.png'), '//twitter.com/rubytij'
      %footer
        .container
          %p
            - deed = "http://creativecommons.org/licenses/by-sa/3.0/deed.#{ I18n.locale }"
            = link_to deed, :rel => "license" do
              = image_tag 'http://i.creativecommons.org/l/by-sa/3.0/88x31.png', :alt => "Creative Commons License", :class => 'cc-logo'
            = t( 'licenses.statement', :item => link_to( t('licenses.version'), deed, :rel => :license  ) ).html_safe
